@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

/*=== GT Bold ===*/

@font-face {
    font-family: 'gt_bold';
    src: url('../fonts/gt-bold/GT-Walsheim-Bold.eot');
    src: url('../fonts/gt-bold/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-bold/GT-Walsheim-Bold.woff') format('woff'),
         url('../fonts/gt-bold/GT-Walsheim-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_bold_oblique';
    src: url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.eot');
    src: url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.woff') format('woff'),
         url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=== GT Medium ===*/

@font-face {
    font-family: 'gt_medium';
    src: url('../fonts/gt-medium/GT-Walsheim-Medium.eot');
    src: url('../fonts/gt-medium/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-medium/GT-Walsheim-Medium.woff') format('woff'),
         url('../fonts/gt-medium/GT-Walsheim-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_medium_oblique';
    src: url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.eot');
    src: url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.woff') format('woff'),
         url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=== GT Light ===*/

@font-face {
    font-family: 'gt_light';
    src: url('../fonts/gt-light/GT-Walsheim-Light.eot');
    src: url('../fonts/gt-light/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-light/GT-Walsheim-Light.woff') format('woff'),
         url('../fonts/gt-light/GT-Walsheim-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_light_oblique';
    src: url('../fonts/gt-light/GT-Walsheim-Light-Oblique.eot');
    src: url('../fonts/gt-light/GT-Walsheim-Light-Oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-light/GT-Walsheim-Light-Oblique.woff') format('woff'),
         url('../fonts/gt-light/GT-Walsheim-Light-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*==================================
FONT STYLING
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p, h3 {
	font-family: 'gt_light', sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-family: 'gt_medium', sans-serif;
}

body, p {
	font-size: 20px;
	font-weight: 300;
}

p {
	font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 0px 20px;
    color: $blue;
    font-weight: 400;
    font-family: 'gt_medium', sans-serif;

    @include mobile_landscape {
        font-size: 12px;
        line-height: 24px;
    }
}

h1 {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: $blue;
    font-family: 'gt_medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;

    @include mobile_landscape {
        font-size: 20px;
        line-height: 30px;
    }
}

h3 {
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $blue;
}

strong, b {
    font-family: 'gt_bold', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/*==================================
OVERALL
==================================*/

/*=== Background ===*/

body {
    background-image: url('../img/full-moon-background-texture.jpg');
    background-size: cover;
    background-attachment: fixed;

    @include tablet {
        background-size: contain;
        background-attachment: initial;
        background-repeat: repeat;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

/*==================================
HELPERS
==================================*/

h2.large_margin_bottom {
    margin-bottom: 70px;

    @include mobile_landscape {
        margin-bottom: 50px;
    }
}

span.super {
    vertical-align: middle;
    font-size: 10px;
    margin-left: -3px;
    white-space: nowrap;

    @include tablet_landscape {
        font-size: 10px;
        margin-left: 0px;
    }

    @include mobile {
        font-size: 8px;
    }
}

.center {
    text-align: center;
}

/*=== Center the super text on the second artists list ===*/

.artists_list span.super {
    display: block;
}

/*=== Colors ===*/

.lineup_blue {
    color: $blue;
}

.lineup_orange {
    color: $lineup_orange;
}

.lineup_lightblue {
    color: $lineup_lightblue;
}

/*==================================
COMPONENTS  
==================================*/

/*=== Grid ===*/

.fmf_row {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 0px 30px;

    .content {
        text-align: center;

        h3 {
            font-size: 14px;
            margin-bottom: 35px;
            color: #01a1a9;
            letter-spacing: .1em;
            font-family: 'gt_bold', sans-serif;

            @include mobile {
                font-size: 13px;
            }
        }
    }

    @include large_desktop {
        max-width: 1100px;
    }
}

/*=== Buttons ===*/

a.primary_button {
    padding: 15px;
    letter-spacing: .2em;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'gt_bold', sans-serif;
    transition: all .2s ease-in-out;
}

a.primary_button.teal {
    border: 2px solid $teal;
    background: $teal;
    color: $lightblue;

    &:hover {
        background: transparent;
        color: $teal;
    }
}

a.primary_button.blue {
    border: 2px solid $blue;
    background: $blue;
    color: $lightblue;

    &:hover {
        background: transparent;
        color: $teal;
    }
}

a.primary_button.white {
    border: 2px solid $white;
    background: transparent;
    color: $white;
}

a.secondary_link {
    padding: 0 60px;
    color: $blue;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'gt_bold', sans-serif;
}

/*==================================
FIXED DESKTOP CONTAINER
==================================*/

.fixed_desktop_container {
    @include tablet {
        display: none;
    }
}

ul.main_navigation {
    position: fixed;
    top: 40px;
    left: 60px;
    z-index: 9;
    font-family: 'gt_bold', sans-serif;
    letter-spacing: .1em;

    li {
        display: inline-block;
        text-transform: uppercase;
        padding-right: 30px;
        font-size: 14px;
        font-weight: 700;
        color: $blue;
    }

    a.active {
        text-decoration: underline;
    }

    @include large_desktop {
        left: 100px;
    }
}

a.primary_button.get_tickets_fixed {
    position: fixed;
    top: 40px;
    right: 60px;
    z-index: 9;
    opacity: 0;
    transition: .5s all ease-in-out;

    &.active {
        opacity: 1;
    }

    @include large_desktop {
        right: 100px;
    }
}

.outer_text {
    position: fixed;
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
    letter-spacing: .1em;
    color: $blue;
    font-weight: 700;
    z-index: 9;
    font-family: 'gt_medium', sans-serif;

    &.right {
        bottom: 140px;
        right: -25px;
        transform: rotate(90deg);

        @include large_desktop {
            right: -4px;
        }
    }

    &.left {
        bottom: 140px;
        left: -25px;
        transform: rotate(-90deg);

        @include large_desktop {
            left: -4px;
        }
    }
}

ul.social_icons {
    position: fixed;
    right: 27px;
    z-index: 9;
    bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        color: $blue;
        padding-bottom: 10px;
    }

    @include large_desktop {
        right: 48px;
    }
}

/*==================================
MOBILE HEADER
==================================*/

.mobile_header {
    position: fixed;
    display: none;
    width: 100%;
    background: $lightblue;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 9;

    @include tablet {
        display: flex;
    }

}

/*=== CSS Menu Icon ===*/

.menu_icon {
    position: relative;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    height: 14px;
    width: 20px;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 2px solid $blue;
        position: absolute;
        top: 4px;
    }    
}

/*==================================
MOBILE NAVIGATION (Fullscreen mobile overlay)
==================================*/

.mobile_navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $blue;
    z-index: 10;
    display: none;
}

/*=== Header within the overlay ===*/

.mobile_navigation_header {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.close_menu_icon {
    position: relative;
    cursor: pointer;
}

.close_menu_icon:before {
    content: "\00d7";
    font-size: 35px;
    color: $white;
    line-height: 13px;
    font-weight: 300;
}

/*=== Mobile Vertical Navigation List ===*/

.mobile_navigation .content_container {
    top: 8%;
    position: relative;
    z-index: 3;

    // Adjustments for phone in landscape

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        top: 2%;
    }
}

ul.mobile_navigation_list li {
    text-align: center;
    text-transform: uppercase;
    font-family: 'gt_bold', sans-serif;
    font-size: 25px;
    padding: 10px 0px;
    letter-spacing: .1em;

    a {
        color: $white;
    }

    // Adjustments for phone in landscape

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        font-size: 15px;
    }
}

/*=== Mobile Social Icons ===*/

ul.mobile_social_icons {
    text-align: center;
    padding: 20px 0px;
}


ul.mobile_social_icons li {
    display: inline-block;
    padding: 0px 10px;

    a {
        color: $white;
    }
}

img.mobile_collage1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
}

img.mobile_collage2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    z-index: 2;
}

img.mobile_collage3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    z-index: 1;
}

/*==================================
LOGO AND DATE
==================================*/

.logo_date_container {
    padding: 45px 0px 20px;
    position: relative;

    @include tablet {
        padding: 100px 0px 30px;
    }
}

.logo_date_illustrations {
    width: 400px;
    min-height: 340px;
    display: block;
    margin: 0 auto;
    position: relative;

    @include mobile_landscape {
        width: 100%;
    }

    @include mobile {
        min-height: 150px;
    }

    @include large_desktop {
        min-height: 520px;
        width: 610px;
    }
}

.logo_date {
    position: relative;
}

/*=== Artist Illustration to replace Logo ===*/

img.artist {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}

img.moon_gif {
    width: 250px;
    margin: 0px auto 20px;
    display: block;

    @include mobile {
        width: 230px;
        margin: 0px auto 20px;
    }

    @include large_desktop {
        width: 400px;
    }
}

.date_location {
    width: 200px;
    display: block;
    margin: 0 auto;

    @include mobile {
        width: 150px;
    }

    @include large_desktop {
        width: 300px;
    }
}

/*=== Absolute Images ===*/

img.leaf1 {
    position: absolute;
    top: 220px;
    width: 100px;

    @include mobile_landscape {
        width: 40px;
    }

    @include large_desktop {
        width: 150px;
    }
}

img.collage1 {
    position: absolute;
    right: 0;
    top: 100px;
    width: 120px;

    @include tablet {
        width: 100px;
    }

    @include mobile_landscape {
        width: 80px;
        top: 130px;
    }

    @include mobile {
        width: 60px;
    }

    @include large_desktop {
        width: 150px;
    }
}

/*==================================
TOP ARTISTS
==================================*/

#top_artists_container {
    text-align: center;
    padding: 10px 0px 100px;

    @include large_desktop {
        padding: 10px 0px 300px;
    }
}

.get_tickets {
    margin-bottom: 50px;
    font-family: 'gt_medium', sans-serif;
    letter-spacing: .1em;

    @include tablet {
        display: none;
    }

    @include large_desktop {
        margin-bottom: 80px;
    }
}

ul.top_artists_list {
    padding: 0px 30px;
}

ul.top_artists_list li {
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    margin: 0px 13px 10px;
    font-family: 'gt_medium', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in-out;

    @include tablet_landscape {
        font-size: 20px;
        margin: 0px 10px 10px;
    }

    @include mobile {
        font-size: 15px;
        margin: 0px 5px 5px;
    }

    @include large_desktop {
        font-size: 35px;
    }
}

ul.top_artists_list br {
    @include mobile_landscape {
        display: none;
    }
}

/*=== Artist Color Change ===*/

.saturday_pass.active, .sunday_pass.active {
    color: $blue;
}

.saturday_pass.nonactive, .sunday_pass.nonactive, .no_pass.nonactive {
    color: $lineup_lightblue;
    opacity: .3;
}

/*==================================
FESTIVAL STATS
==================================*/

.stats_container {
    padding: 50px 0px 100px;
    position: relative;

    @include mobile_landscape {
        padding: 50px 0px 30px;
    }
}

ul.festival_stats {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 80px;

    span.number {
        display: block;
        font-size: 50px;
        font-family: 'gt_medium', sans-serif;

        @include tablet_landscape {
            font-size: 40px;
        }

        @include mobile_landscape {
            font-size: 30px;
        }

        @include mobile {
            font-size: 25px;
        }
    }

    h2 {
        font-size: 20px;
        margin: 0;
        font-family: 'gt_medium', sans-serif;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: 300;

        @include tablet_landscape {
            font-size: 15px;
        }
    }

    h2:after {
        content: "";
        background: $blue;
        height: 3px;
        width: 30px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;

        @include mobile {
            width: 15px;
        }
    }
}

ul.festival_stats li {
    display: inline-block;
    text-align: center;
    color: $blue;

    img.palm_tree_1 {
        width: 130px;

        @include tablet {
            width: 80px;
        }

        @include mobile {
            width: 60px;
        }
    }

    img.palm_tree_2 {
        width: 115px;

        @include tablet {
            width: 70px;
        }

        @include mobile {
            width: 54px;
        }
    }
}

.stats_container p.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 20px;
    text-align: center;
    color: $blue;
    font-size: 22px;
    line-height: 43px;
    font-family: 'gt_medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;

    @include tablet {
        font-size: 20px;
        line-height: 35px;
    }

    @include mobile_landscape {
        font-size: 16px;
        line-height: 30px;
        padding: 0px 30px;
    }
}

/*=== Images ===*/

img.collage2 {
    position: absolute;
    top: -300px;
    width: 150px;

    @include tablet_landscape {
        width: 150px;
    }

    @include tablet {
        width: 100px;
    }

    @include mobile {
        width: 70px;
        top: -200px;
    }

    @include large_desktop {
        width: 230px;
    }
}

img.flying_seagull {
    position: absolute;
    right: 230px;
    top: 0px;
    width: 100px;

    @include tablet_landscape {
        width: 80px;
        right: 150px;
    }

    @include tablet {
        width: 50px;
    }

    @include mobile_landscape {
        right: 20px;
    }

    @include mobile {
        right: 10px;
        width: 43px;
    }

    @include large_desktop {
        width: 150px;
    }
}

img.leaf2 {
    position: absolute;
    right: 0;
    top: -100px;
    width: 120px;

    @include tablet {
        width: 50px;
    }
}

img.collage3 {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: -150px;

    @include tablet_landscape {
        width: 150px;
    }

    @include mobile_landscape {
        width: 55px;
        bottom: -68px;
    }
}

/*==================================
ARTIST LIST
==================================*/

#artists_list_container {
    padding: 100px 0px 20px;
    position: relative;

    .fmf_row {
        justify-content: space-around;
        padding: 0px 30px;
        flex-flow: row wrap;
        margin-bottom: 100px;

        @include mobile_landscape {
            margin-bottom: 30px;
        }
    }

    @include mobile {
        padding: 30px 0px 20px;
    }
}

.artist_list_row {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

/*=== List of artists ===*/

.artist_list_row .content {
    text-align: center;

    h3 {
        font-size: 15px;
        margin-bottom: 30px;
        color: $blue;
        letter-spacing: 1px;

    }
}

ul.artists_list li {
    display: block;
    font-weight: 600;
    font-size: 25px;
    padding: 0 0 20px;
    color: #002973;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'gt_medium', sans-serif;

    @include tablet_landscape {
        font-size: 20px;
    }

    @include tablet {
        font-size: 24px;
    }

    @include large_desktop {
        font-size: 35px;
    }

}

.first_artists_list .content {
    padding: 0px 0px 0px 0px;

    @include tablet {
        padding: 0px;
    }

    @include mobile_landscape {
        margin-bottom: 20px;
    }
}

.second_artists_list .content {
    padding: 0px 0px 0px 0px;

    @include tablet {
        padding: 0px;
    }

    @include mobile_landscape {
        margin-bottom: 20px;
    }
}

/*=== Set Times ===*/

.fmf_row .content .artists_list li h3 {
    margin: 0px 0px 5px;
    color: $darkblue;
}

/*=== Artist Illustrations ===*/

.first_artists_list .image {
    width: 50%;

    img {
        display: block;
        width: 85%;
        float: right;

        @include tablet {
            width: 70%;
            float: none;
            margin: 0px auto 50px;
        }

        @include large_desktop {
            width: 95%;
        }
    }

    @include tablet {
        width: 100%;
    }
}

.second_artists_list .image {
    width: 50%;

    img {
        display: block;
        width: 85%;
        float: left;
        padding-top: 60px;

        @include tablet {
            float: none;
            margin: 0 auto;
            padding-top: 0px;
        }

        @include large_desktop {
            width: 95%;
        }
    }

    @include tablet {
        width: 100%;
        order: 2;
    }
}

/*=== Absolute Images ===*/

img.collage4 {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100px;

    @include tablet_landscape {
        width: 50px;
    }

    @include mobile_landscape {
        width: 40px;
    }
}

img.collage5 {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 80px;

    @include tablet_landscape {
        width: 50px;
    }

    @include mobile_landscape {
        width: 40px;
    }
}

/*==================================
GOVERNORS ISLAND
==================================*/

#governors_island_container {
    position: relative;
    padding: 80px 0px 200px;
    margin-bottom: 150px;

    .fmf_row {
        justify-content: flex-start;
        padding: 0px 30px;
    }

    .content {
        width: 450px;

        @include tablet {
            width: 100%;
        }

        @include large_desktop {
            width: 550px;
        }
    }

    p {
        margin-bottom: 50px;
    }

    @include tablet {
        padding: 80px 0px 100px;
        margin-bottom: 0px;
    }

    @include mobile_landscape {
        padding: 20px 0px 100px;
    }
}

/*=== Trains ===*/

.trains {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    margin: 0 auto 20px;

    .text {
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        color: $blue;
        width: 135px;
        padding-left: 10px;
        text-align: left;

        @include mobile_landscape {
            padding-left: 5px;
        }
    }
}

.circle {
    color: #fff;
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.green {
        background: $subwaygreen;
    }

    &.yellow {
        background: $subwayyellow;
    }
}

/*=== Images ===*/

img.flying_seagull_2 {
    position: absolute;
    width: 110px;
    right: 400px;
    top: 50px;

    @include tablet_landscape {
        width: 80px;
        right: 30px;
    }

    @include tablet {
        width: 60px;
        top: 0;
    }

    @include mobile_landscape {
        width: 40px;
        right: 20px;
        top: 70px;
    }

    @include large_desktop {
        width: 150px;
        right: 500px;
    }
}

img.map {
    position: absolute;
    right: 80px;
    top: 130px;
    width: 500px;

    @include tablet_landscape {
        width: 40%;
        right: 20px;
    }

    @include tablet {
        position: relative;
        display: block;
        margin: 0 auto;
        top: 0;
        right: 0;
        width: 80%;
    }

    @include large_desktop {
        width: 700px;
    }
}

img.ferry {
    width: 400px;
    right: 240px;
    position: absolute;
    bottom: 35px;

    @include tablet_landscape {
        right: 100px;
    }

    @include tablet {
        width: 300px;
        right: 50px;
    }

    @include  mobile_landscape {
        width: 200px;
        right: 0px;
    }

    @include  mobile {
        width: 150px;
        right: 0px;
    }

    @include large_desktop {
        width: 450px;
        right: 340px;
        bottom: 10px;
    }
}

img.collage6 {
    position: absolute;
    width: 200px;
    left: 0;

    @include tablet {
        width: 130px;
    }

    @include mobile_landscape {
        width: 80px;
        bottom: 10px;
    }

    @include mobile_landscape {
        width: 50px;
    }

    @include large_desktop {
        width: 250px;
    }
}

/*==================================
ABOUT THE FESTIVAL
==================================*/

#story_container {
    position: relative;
    padding: 100px 0px;

    .fmf_row {
        justify-content: flex-start;
    }

    .content {
        width: 500px;

        @include tablet {
            width: 460px;
        }

        @include tablet {
            width: 100%;
            padding-bottom: 30px;
        }

        @include large_desktop {
            width: 550px;
        }
    }

    @include tablet {
        overflow: auto;
        padding: 50px 0px;
    }
}

/*=== Hide forced breaks on mobile devices ===*/

#story_container .content h2 br {
    @include mobile_landscape {
        display: none;
    }
}

img.collage7 {
    position: absolute;
    width: 550px;
    right: 0;
    top: 80px;

    @media all and (max-width: 1200px) {
        width: 40%;
    }

    @include tablet {
        float: right;
        position: relative;
        width: 70%;
        top: 0;
    }

    @include large_desktop {
        width: 700px;
    }
}

/*==================================
ABOUT THE FESTIVAL CONT.
==================================*/

.story_container_continued {
    position: relative;
    padding: 50px 0px;
    height: 1000px;
    z-index: 8;

    .fmf_row {
        justify-content: flex-end;
        align-items: flex-end;
        height: 600px;

        @include tablet_landscape {
            height: 400px;
        }

        @include tablet {
            width: 100%;
            height: auto;
        }

        @include large_desktop {
            height: 800px;
        }
    }

    .content {
        width: 460px;

        @include tablet {
            width: 100%;
        }

        @include large_desktop {
            width: 550px;
        }
    }

    @include tablet_landscape {
        height: 800px;
    }

    @include tablet {
        height: auto;
        padding: 0px 0px 50px;
    }

    @include large_desktop {
        height: 1200px;
    }
}

img.collage8 {
    width: 580px;
    position: absolute;
    left: 0;
    top: 67px;

    @include tablet_landscape {
        width: 40%;
    }

    @include tablet {
        position: relative;
        width: 60%;
        top: 115px;
    }

    @include mobile_landscape {
        top: 100px;
    }

    @include large_desktop {
        width: 650px;
        top: 150px;
    }
}

img.walking_seagull {
    width: 100px;
    position: absolute;
    bottom: 150px;
    right: 200px;

    @include tablet {
        top: auto;
        width: 80px;
        bottom: initial;
    }

    @include mobile_landscape {
        width: 50px;
        right: 20px;
    }
}

/*==================================
PARTNERS
==================================*/
#partners_container {
    padding: 50px 0px;
}

#partners_container h2 {
    margin-bottom: 10px;
    color: $darkblue;
    letter-spacing: .1em;
    font-family: 'gt_bold', sans-serif;

    @include mobile {
        font-size: 13px;
    }
}

ul.partner_logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

ul.partner_logos li {
    width: 25%;
    margin-bottom: 50px;

    img {
        display: block;
        width: 100%;
    }

    @include mobile_landscape {
        width: 50%;
        margin-bottom: 30px;
    }

}

/*==================================
FESTIVAL VIDEO
==================================*/

.festival_video_container {
    position: relative;
    z-index: 7;
}

.festival_video_container img.video_cover {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 7;

    @include mobile_landscape {
        display: none;
    }
}

img.video_collage {
    width: 300px;
    top: -400px;
    position: absolute;
    z-index: 7;

    @media all and (max-width: 1200px) {
        width: 150px;
        top: -200px;
    }

    @include mobile_landscape {
        width: 100px;
        top: -123px;
    }
}

.play_pause {
    position: absolute;
    bottom: 150px;
    z-index: 8;
    display: flex;
    justify-content: center;
    width: 100%;

    @include tablet {
        bottom: 80px;
    }

    @include mobile_landscape {
        display: none;
    }
}

.play_pause button {
    background: transparent;
    border: 0;
    padding: 0px 10px;
    color: #fff;
    letter-spacing: 4px;
    font-family: 'gt_bold', sans-serif;
    text-transform: uppercase;
    outline: 0;
    font-size: 24px;
    transition: all .2s ease-in-out;

    &.active {
        color: $blue;
    }

    @include mobile_landscape {
        font-size: 20px;
    }

    @include mobile {
        font-size: 15px;
        padding: 0px 5px;
    }
}

.clear_video_cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    @include mobile_landscape {
        display: none;
    }
}

/*==================================
EMAIL NEWSLETTER
==================================*/

.email_container {
    text-align: center;
    position: relative;
    padding: 200px 30px;

    @include mobile_landscape {
        padding: 150px 30px;
    }

    @include large_desktop {
        padding: 400px 30px;
    }
}

img.bottom_logo {
    width: 400px;
    margin-bottom: 100px;

    @include tablet {
        width: 300px;
        margin-bottom: 50px;
    }

    @include mobile {
        width: 200px;
    }
}

/*=== Mailing List ===*/

div#mc_embed_signup_scroll {
    position: relative;
}

form#mc-embedded-subscribe-form {
    display: inline-block;
}

input#mc-embedded-subscribe {
    background: transparent;
    border: 0;
    padding: 0px;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 23px;
    position: absolute;
    top: 0;
    right: 0;
    color: $blue;
}

.mc-field-group {
    display: inline-block;
}

input#mce-EMAIL {
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid $blue;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    color: $blue;
    outline: 0;
    width: 500px;
    padding: 0px 0px 10px 10px;
    font-weight: bold;

    &::-webkit-input-placeholder {
        color: $blue;
        font-weight: bold;
    }

    @include mobile_landscape {
        width: 280px;
    }

    @include mobile_landscape {
        width: 250px;
        font-size: 13px;
    }
}

/*=== Images ===*/

img.collage9 {
    position: absolute;
    top: 0;
    width: 130px;
    right: 0;

    @include tablet_landscape {
        width: 15%;
    }

    @include large_desktop {
        width: 200px;
    }
}

img.collage10 {
    position: absolute;
    bottom: 0;
    width: 350px;
    left: 0;

    @include tablet_landscape {
        width: 30%;
    }

    @include large_desktop {
        width: 500px;
    }
}
